<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <customErrors mode="Off" />
      <sessionState mode="InProc" cookieless="AutoDetect" cookieName="FCCWeb" timeout="120"></sessionState>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
